<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
   http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<connectionStrings>
		<add name="conn" connectionString="Data Source=(local)\SQL2008; Initial Catalog=FRAS; User ID=sa; Password=2frogs;" />
		<add name="conn0480" connectionString="Data Source=(local)\SQL2008; Initial Catalog=Region; User ID=sa; Password=2frogs;" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"></compilation>
		<httpRuntime requestValidationMode="2.0" executionTimeout="1800" />
		<sessionState timeout="30"></sessionState>
		<customErrors mode="RemoteOnly" defaultRedirect="~/Misc/Error.aspx">
			<error statusCode="403" redirect="~/Misc/Error403.aspx" />
			<error statusCode="404" redirect="~/Misc/Error404.aspx" />
			<error statusCode="500" redirect="~/Misc/Error500.aspx" />
			<error statusCode="503" redirect="~/Misc/Error503.aspx" />
		</customErrors>
	</system.web>
	<appSettings>
		<add key="KQService" value="http://10.21.11.213:9999/KQHandler" />
	</appSettings>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".log" mimeType="text/plain" />
		</staticContent>
	</system.webServer>
</configuration>
