/* Style for Login page */
* {
	margin: 0px;
	padding: 0px;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #E1F1FF;
}

.zt {
	background-image: url(../Image/login_001.gif);
	background-repeat: repeat-x;
	height: 600px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.jg {
	height: 600px;
	width: 1003px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.d01 {
	height: 74px;
	width: 1003px;
}

.d02 {
	height: 69px;
	width: 1003px;
}

.d03 {
	height: 102px;
	width: 1003px;
}

.d04 {
	height: 135px;
	width: 1003px;
	background-image: url(../Image/login_4.gif);
	background-repeat: no-repeat;
}

.dlbd {
	height: 135px;
	width: 300px;
	margin-left: 430px;
	clear: both;
	font-size: 14px;
	color: #0b58b4;
	font-weight: bold;
	line-height: 30px;
	font-family: "宋体";
}

.d05{
	height: 97px;
	width: 1003px;
}

.d06 {
	height: 53px;
	width: 1003px;
}

.wbk {
	width: 160px;
	height: 23px;
	border: 1px solid #4A91E8;
}

.tc {
	margin-left: 70px;
	margin-top: 15px;
}
